<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="js/app.js"></script>
    <script src="lib/ng-cordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>


    <!-- stysdfmpiled adsfSASS -->
    <!-- <link href="css/ionic.app.css" rel="stylesheet"> -->

    <!-- static ionic style -->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/angular-material/angular-material.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/angular-material/themes/indigo-theme.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,700,400' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet">


</head>
<body ng-app="app" ng-controller="controller1" md-theme="indigo">
<div>
    <div>

        <ion-nav-view></ion-nav-view>

    </div>
</div>

<!-- ============Home Page===================================================== -->

<script id="page13.html" type="text/ng-template">
    <ion-view view-title="materialBoy">
        <md-content>

            <div class="mainhome">
                <form layout="column">
                    <md-text-float class="underline" label="Location" ng-model="form1.zipBox"></md-text-float>
                    <md-button ng-click="searchZip()" class="md-raised md-primary">Search</md-button>
                    <span class="space"></span>

                    <md-button ng-click="geoLoc()" class="md-raised">Near Me</md-button>
                </form>
            </div>

        </md-content>

        <!--<ion-content padding="true" class="has-header">-->
        <!--<form>-->
        <!--<label class="item item-input" name="zip">-->
        <!--<span class="input-label">Location:</span>-->
        <!--<input type="text" placeholder="City, State or Zip Code" ng-model="form1.zipBox">-->
        <!--</label>-->
        <!--<button ng-click="searchZip()" class="button button-stable button-block">Search</button>-->
        <!--<button ng-click="geoLoc()" class="button button-stable button-block">Near Me</button>-->
        <!--</form>-->
        <!--</ion-content>-->
    </ion-view>
</script>

<!-- ============Results Page===================================================== -->

<script id="page15.html" type="text/ng-template">
    <ion-view view-title="Results">

        <div class="bar bar-header bar-positive">
            <span class="t-bar">Results</span>
        </div>

        <ion-content class="has-header" padding="true">

            <md-content>
                <md-list>
                    <md-item ng-repeat="church in churchArray | orderBy : 'id' | filter:{'hasSundayMass' : 'true'}"
                             ng-click="goDetails(church)">
                        <div class="div-list-item">
                            <span class="church-name">{{church.name}}</span>
                            <span class="sunday-times">Sunday Mass: {{church.sundayStr}}</span>
                            <span class="more-details">Click for more details...</span>
                            <md-divider></md-divider>
                        </div>
                </md-list>


            </md-content>


            <!--<md-list ng-repeat="church in churchArray | orderBy : 'id' | filter:{'hasSundayMass' : 'true'}"-->
            <!--ng-click="goDetails(church)">-->
            <!--<h3>{{church.name}}</h3>-->

            <!--<md-list>-->
            <!--<md-item ng-repeat="time in church.times | filter: {'day': 'Sunday    '}">-->

            <!--<md-item-content>{{time.time}}</md-item-content>-->
            <!--</md-item>-->


            <!--</md-list>-->

            <!--</md-list>-->
        </ion-content>


        <!--<ion-content padding="true" class="has-header">-->
        <!--<div class="list card"-->
        <!--ng-repeat="church in churchArray | orderBy : 'id' | filter:{'hasSundayMass' : 'true'}"-->
        <!--ng-click="goDetails(church)">-->
        <!--<div class="item item-divider">{{church.name}}</div>-->
        <!--<div class="item item-body">-->
        <!--<ion-item ng-repeat="time in church.times | filter: {'day': 'Sunday    '}">{{time.time}}</ion-item>-->
        <!--</div>-->
        <!--</div>-->
        <!--</ion-content>-->
    </ion-view></script>

<!--===========Details============================================================-->

<script id="page17.html" type="text/ng-template">
    <ion-view view-title="Details">
        <div class="bar bar-header bar-calm bar-positive">
            <span class="t-bar">{{church.name}}</span>
        </div>
        <ion-content padding="true" class="has-header">


            <md-card>
            <span class="sunday-times">{{church.address}} </br>
                {{church.city}} {{church.state}} {{church.zipcode}}</span>
                <span class="more-details">{{church.url}}</span>
                <span class="more-details">{{church.phone}}</span>
            </md-card>

            <md-card>
                <span class="sunday-times">Sunday: 12:00, 15:00, 17:00 </span>
                <span class="sunday-times">Monday: 12:00, 15:00, 17:00</span>
                <span class="sunday-times">Tuesday: 12:00, 15:00, 17:00</span>
                <span class="sunday-times">Wednesday: 12:00, 15:00, 17:00</span>
                <span class="sunday-times">Thursday: 12:00, 15:00, 17:00</span>
                <span class="sunday-times">Friday: 12:00, 15:00, 17:00</span>
                <span class="sunday-times">Saturday: 12:00, 15:00, 17:00</span>
            </md-card>
            <md-card>
                <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options">
                    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events"
                                    idkey="marker.id">
                    </ui-gmap-marker>
                </ui-gmap-google-map>


            </md-card>

        </ion-content>
    </ion-view></script>


<!---------Dependencies for Angular Map Plugin ------------------------------------->
<script src='http://maps.googleapis.com/maps/api/js?sensor=false'></script>
<script type="text/javascript" src="lib/lodash/dist/lodash.min.js"></script>
<script type="text/javascript" src="lib/angular-google-maps/dist/angular-google-maps.min.js"></script>
<script src="lib/angular-material/angular-material.js"></script>
<script src="lib/angular-aria/angular-aria.js"></script>
<script src="lib/hammerjs/hammer.js"></script>
<!---------------------------------------------------------------------------------->
</body>
</html>
